@model EditBookViewModel
@{
    ViewData["Title"] = "Edit Book";
}

<div class="container-lg mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h2 class="mb-0 text-center">@ViewData["Title"]</h2>
                </div>
                <div class="card-body">
                    <form asp-action="Edit" asp-controller="Books" method="post">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="Format" />

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label asp-for="Name" class="form-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="ISBN" class="form-label"></label>
                                <input asp-for="ISBN" class="form-control" />
                                <span asp-validation-for="ISBN" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label asp-for="Price" class="form-label"></label>
                                <div class="input-group">
                                    <span class="input-group-text">$</span>
                                    <input asp-for="Price" class="form-control" />
                                </div>
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label asp-for="QuantityInStock" class="form-label"></label>
                                <input asp-for="QuantityInStock" class="form-control" />
                                <span asp-validation-for="QuantityInStock" class="text-danger"></span>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label asp-for="BookStar" class="form-label"></label>
                                <input asp-for="BookStar" class="form-control" />
                                <span asp-validation-for="BookStar" class="text-danger"></span>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label asp-for="PublicationYear" class="form-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="PublicationYear" type="date" class="form-control" />
                                    <span asp-validation-for="PublicationYear" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label asp-for="CategoryId" class="form-label"></label>
                                <select asp-for="CategoryId" asp-items="ViewBag.CategoryId" class="form-select"></select>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label asp-for="AuthorId" class="form-label"></label>
                                <select asp-for="AuthorId" asp-items="ViewBag.AuthorId" class="form-select"></select>
                                <span asp-validation-for="AuthorId" class="text-danger"></span>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label asp-for="Format" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <select asp-for="Format" class="form-select">
                                        <option value="">Select Format</option>
                                        <option value="Hardcover">Hardcover</option>
                                        <option value="Paperback">Paperback</option>
                                    </select>
                                    <span asp-validation-for="Format" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-4">
                                <div class="form-check">
                                    <input asp-for="IsDeleted" class="form-check-input" />
                                    <label asp-for="IsDeleted" class="form-check-label"></label>
                                </div>
                                <span asp-validation-for="IsDeleted" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <div class="form-check">
                                    <input asp-for="IsVisible" class="form-check-input" />
                                    <label asp-for="IsVisible" class="form-check-label"></label>
                                </div>
                                <span asp-validation-for="IsVisible" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="BookCoverFile" class="form-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="BookCoverFile" type="file" class="form-control" />
                                    <span asp-validation-for="BookCoverFile" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="mb-3 row">
                            <label asp-for="Description" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="submit" class="btn btn-primary me-md-2">Save Changes</button>
                            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}