@model IPagedList<Book>

@{
    ViewBag.Title = "Books";
}


@await Html.PartialAsync("_Book", Model)

<div class="d-flex justify-content-center">
    @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, Search = Context.Request.Query["Search"] }),
            new PagedListRenderOptions
    {
        Display = PagedListDisplayMode.IfNeeded,
        DisplayPageCountAndCurrentLocation = true,

    })
</div>
<script type="text/javascript" language="javascript">
    function ClearResults() {
        $("#CartItemCount").empty()
    }
</script>